<template>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">主页</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" @click="goto" data-path="/">控制台</a></dd>
                        <dd><a href="javascript:;" @click="goto" data-path="/page1">主页一</a></dd>
                        <dd><a href="javascript:;" @click="goto" data-path="/page2">主页二</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">组件</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" @click="goto" data-path="/grid">栅格</a></dd>
                        <dd><a href="javascript:;" @click="goto" data-path="/panel">面板</a></dd>
                        <dd><a href="javascript:;" @click="goto" data-path="/buton">按钮</a></dd>
                        <dd><a href="javascript:;" @click="goto" data-path="/carousel">轮播</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item">
                    <a href="javascript:;">页面</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">个人主页</a></dd>
                        <dd><a href="javascript:;">通讯录</a></dd>
                        <dd><a href="javascript:;">商品列表</a></dd>
                        <dd><a href="javascript:;">内嵌页面</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">关于</a></li>
            </ul>
        </div>
    </div>
</template>
<script>
    layspa({
        name: "leftmenu",
        use: [
            ["jquery", "$"]
        ],
        ready: function () {
            $("[data-path]").parent().removeClass("layui-this");
            $("[data-path]").parents(".layui-nav-item").removeClass("layui-nav-itemed");
            $("[data-path='" + this.$router.hashPath + "']").parent().addClass("layui-this");
            $("[data-path='" + this.$router.hashPath + "']").parents(".layui-nav-item").addClass("layui-nav-itemed");
        },
        methods: {
            goto: function (dom) {
                var path = $(dom).data("path");
                this.$router.push(path);
            }
        }
    });
</script>
